# Configuraciones Generales
PROJECT_NAME="Taller Backend (Local)"
VERSION="1.0.0"

# Seguridad (Reemplazar en producción)
SECRET_KEY=""
ALGORITHM="HS256"

# Base de Datos
DATABASE_URL=""

# CORS
BACKEND_CORS_ORIGINS='["http://localhost:4200", "http://127.0.0.1:4200"]'

# Matchmaking
MATCH_RADIUS_KM=15.0
