# Configuraciones Generales
PROJECT_NAME="Taller Backend (Local)"
VERSION="1.0.0"

# Seguridad (Reemplazar en producción)
SECRET_KEY=""
ALGORITHM="HS256"

# Base de Datos
DATABASE_URL=""

# CORS
BACKEND_CORS_ORIGINS='["http://localhost:4200", "http://127.0.0.1:4200"]'

# Redis
REDIS_URL="redis://localhost:6379/0"

# IA - Roboflow
ROBOFLOW_API_URL="https://serverless.roboflow.com"
ROBOFLOW_API_KEY=""
ROBOFLOW_WORKSPACE=""
ROBOFLOW_WORKFLOW_ID=""

# IA - Gemini
GEMINI_API_KEY=""

# Firebase Push Notifications
FIREBASE_SERVICE_ACCOUNT_PATH=""

# Google Maps API
GOOGLE_MAPS_BACKEND_KEY=""

# Stripe
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

# Matchmaking
MATCH_RADIUS_KM=15.0
